@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--accent-foreground));
  border-radius: 5px;
  transition: opacity 0.3s; /* Add transition for smooth effect */
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(var(--accent-foreground), 0.9);
} */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem; */

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --dashboard-blue: #e0f2fe;
    --dashboard-green: #dcfce7;
    --dashboard-indigo: #e0e7ff;
    --dashboard-orange: #fef9c3;

    --dashboard-text-blue: #0369a1;
    --dashboard-text-green: #15803d;
    --dashboard-text-indigo: #4338ca;
    --dashboard-text-orange: #a16207;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --dashboard-blue: #075985;
    --dashboard-green: #166534;
    --dashboard-indigo: #3730a3;
    --dashboard-orange: #854d0e;

    --dashboard-text-blue: #e0f2fe;
    --dashboard-text-green: #dcfce7;
    --dashboard-text-indigo: #e0e7ff;
    --dashboard-text-orange: #fef9c3;
  }
}

@layer base {
  .cleints-search-bar-mobile {
    position: fixed;
    width: 90% !important;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--dashboard-text-green);
  }
  @media (min-width: 640px) {
    .dashboard-children-hight {
      height: calc(100vh - 68px);
    }
    .cleints-search-bar-mobile {
      position: static;
      /* width: 700px !important ; */
      top: 0;
      left: 0;
      transform: translateX(0);
    }
    /* Add this to your CSS */
  }

  /* @media (min-width: 850px) {
    .cleints-search-bar-mobile {
      position: static;
      width: 700px !important ;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
  } */
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; /* Removes extra padding around the swatch */
  }

  input[type="color"]::-webkit-color-swatch {
    border: none; /* Removes the border inside the swatch */
  }
}

/* .dashboard-children-hight {
  height: calc(100vh - (48px + 50px));
} */
